<h5>Carrinho de compras</h5>
 
<div class="alert alert-info">
    <strong>Não há produtos em seu carrinho de compras</strong>
</div>
 
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div>
                    Valor total: <strong></strong>
                </div>
                <div>
                    Quantidade de itens: <strong></strong>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn btn-outline-danger">
                    Limpar carrinho
                </button>
                &nbsp;
                <a [routerLink]="['/acessar-conta']" class="btn btn-outline-success">
                    Finalizar Pedido
                </a>
            </div>
        </div>
    </div>
</div>
 
<table class="table table-sm">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nome do produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td class="text-center">
                <img src="data:image/png;base64,{{item.foto}}" height="50" />
            </td>
            <td>{{item.nome}}</td>
            <td>{{item.preco | currency : 'R$ '}}</td>
            <td>{{item.quantidade}}</td>
            <td>{{item.total | currency : 'R$ '}}</td> -->
            <td>
                <button class="btn btn-outline-danger btn-sm">-</button>
                &nbsp;
                <button class="btn btn-outline-primary btn-sm">+</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><strong>Resumo:</strong></td>
            <td>0</td>
            <td><strong>0</strong></td>
            <td>
                <button class="btn btn-outline-danger">
                    Limpar carrinho
                </button>
            </td>
        </tr>
    </tfoot>

</table>